[2016-05-24 18:08] cmeadows opened #2 "TypeError: unbound method reject() must be called with Promise instance as first argument"
I have tried the following:

`except Exception, e:`
`     return Promise.reject(e)`

`return Promise.reject(Exception(e))`

Both return the following error:

`TypeError: unbound method reject() must be called with Promise instance as first argument (got Exception instance instead)`

[2016-06-01 05:08] syrusakbary commented on #2
You should use `Promise.rejected` instead 😉
Closing issue

[2016-06-01 05:08] #2 closed

[2016-06-14 14:31] Globegitter opened #5 "hangs if dict values of promise_for_dict are not promises"
Not such a major deal but might be nice if it would thrown an error if the values of the passed in dict are not a `Promise` (I accidentally passed in the futures).

[2016-07-13 06:36] bevensteven opened #6 "Question: compatibility with asyncio's event loop?"
Hi,

Great module you got going on! I am attempting to make Python function identically to NodeJS as part of a personal project. Currently, I am using your Promises in a fashion that follows A+ but still have some trouble understanding how this module would interact with an `asyncio` event loop.

Does the event loop recognize when a `Promise` is `fulfilled` - similarly to how an `asyncio.Future` i

[2016-07-20 10:33] Millak opened #7 "Python-futures is a python-2 only package"
When I attempt to run the test suite using python-3, it complains about futures missing.

[2016-07-28 08:20] qbolec opened #8 "Combining with futures seems problematic"
I have a difficulty in combining promises with futures.
Here is a minimal program which reproduces my issue:

[code]
When I run it with `python concurrency_test.py` it non-deterministically either fully succeeds, or fails silently like this:
[code]
My machine has 64 cores.
I am not skilled in reasoning about concurrent processes and race conditions like that, but I suspect that there are some prob

[2016-07-28 16:15] qbolec commented on #8
I was desperate enough to look into the source code and found undocumented methods `wait` and `get` and tried another approach in which I block the thread until the `p.get()` finishes:
[code]
unfortunatelly this approach seems to always end with a deadlock.

[2016-07-28 16:17] qbolec commented on #8
I was able to make some progress by ditching the idea of using futures / threadpools entirely and by using a more low level approach:
[code]
this one always succeeds.

[2016-07-30 06:11] syrusakbary commented on #8
Thanks for the detailed examples, taking a look now.

[2016-07-30 06:25] syrusakbary commented on #8
I got your example working.

[code]

Please let me know if works for you too, reopen the issue if not :)

[2016-07-30 06:25] #8 closed

[2016-08-03 07:40] qbolec commented on #8
If I understand correctly your example differs by two things:
* added `time.sleep(.01)`
* added p.get()
I can confirm that this example works.

I've tested that you can remove the `time.sleep(.01)` from it and it still works. The important part seems to be calling `p.get()` in the main thread. My understanding is that it prevents the main program from exiting before all the computations are done:

[2016-08-03 09:09] qbolec opened #9 "onResolved handler is called in the same execution context"
It seems to me that current implementation is non-compliant with https://promisesaplus.com/ spec with regard to

This manifests in inconsistencies between situations where Promise is resolved immediately (such us during unit-testing with mock data) vs situations where it resolves asynchronously after a while, leading to some bugs in implementation manifesting only after deploying to production.

C

[2016-08-06 18:15] syrusakbary commented on #7
Hi @Millak, which version of Python are you testing with?
In my developing environment I test with Python 2.7 and 3.5, but Travis also checks compatibility with 3.3, 3.4 and 3.5 https://travis-ci.org/syrusakbary/promise

[2016-08-07 05:16] syrusakbary commented on #9
Hi @qbolec the error you are describing have to do with the locals in python more than the `promise` implementation.

The following example will work:
[code]

This example is encapsulating the `x` in a new function, so doesn't get overwritten when the next item in the loop is accessed.

[2016-08-07 05:17] syrusakbary commented on #7
Closing the issue. Please reopen if you are unable to run promise tests on those environments. (or open a PR for supporting older Python versions (3.2, 3.3))

[2016-08-07 05:17] #7 closed

[2016-08-07 17:24] qbolec commented on #9
You seem to miss the point. I don't want to make my code work. I want to make it fail consistently in testing as it breaks in production. I know where is the bug and how to fix it. The problem is that behavior differs depending on presence of sleep, while it shouldn't according to the spec.

-----Wiadomość oryginalna-----
Od: "Syrus Akbary" <notifications@github.com>
Wysłano: ‎2016-‎08-‎07 07:16
D

[2016-08-07 18:16] syrusakbary commented on #9
You're right, I've double checked the spec and did the same example with the native implementation in js and is working in an uniform way.

However as `promise` is package external to the Python platform code I don't know how easy will be to make the improvement/fix.

I'm reopening the task, feel free to open a PR if you find a way for making this complaint with the spec for `2.2.4`, I will invest

[2016-08-16 07:43] plesner opened #10 "Support tracing on rejection?"
I had to implement a service for a company recently and used promises from this library as the core way to organize asynchronous operations. It works great and is running happily in production.

However, as soon as you then-chain more than a few promises, understanding the reasons for rejections becomes super painful and time-consuming. One thing that would have helped me a lot during development

[2016-08-16 08:02] syrusakbary commented on #10
Yeah, that would be a great addition to the library! :)

[2016-08-16 08:18] plesner commented on #10
Cool. I'm already playing around with an implementation (plesner/python-promise#1), I'll send you a pull request when it's complete. I've made it as a separate module, `promise.tracing`, that works exactly the same as `promise` (almost all the code is shared) so you can easily flip between the two. But I'm happy to do it in a different way if you have any suggestions.

[2016-08-16 11:20] mega7star opened #11 "Reject function in Promise"
Why i not get a value from reject function?
Example:
[code]

[2016-08-26 08:52] Globegitter commented on #11
I seem to be running into some issues related to throwing errors on the server side as well. Just looking into those.

[2016-09-27 08:56] plesner commented on #10
I've spent some time trying to implement this and it's turned out to be trickier than I expected.

Collecting stack traces and building the trace isn't too hard but the top of all traces will be 2-3 frames from within the promise library which makes them cluttered and hard to read. I haven't been able to find a way to avoid those without adding extra arguments to __init__, reject, etc. which feels

[2016-10-15 22:30] #11 closed

[2016-10-15 22:52] syrusakbary commented on #11
I simplified a little bit the promise function init resolver.
This should fix the issue in `master`.

I also added a test for assuring we are "guarded" for future versions: https://github.com/syrusakbary/promise/commit/74d8d19174a7fec905e84da4f6ffa59fbf83ad89

[2016-10-16 02:42] syrusakbary commented on #5
This is now fixed. `promise_for_dict` (and `Promise.all`) now accepts non-promise arguments.
Closing

[2016-10-16 02:42] #5 closed

[2016-10-17 08:20] MagnusSjoberg opened #16 "Python 2.7 issue"
In iterate_promise.py a python 3 construct is used: yield from
This prevents correct installs on i.e. CentOS which uses python 2.7.9
Would it be possible to change to using a 2.7 friendly construct like:
`for foo in promise.future: yield foo`
since there are no advanced (python >= 3) uses of yield?

[2016-12-02 04:56] syrusakbary opened #17 "Coroutines are not thenable when should"
Executing `promise.is_thenable` over a asyncio `coroutine` returns `False`, however `promisify` is able to handle coroutines correctly.

Related PR: https://github.com/graphql-python/graphene/pull/379

[2016-12-02 04:58] #17 closed

[2016-12-17 14:00] addyess commented on #10
Does this implement what you wanted?
https://github.com/syrusakbary/promise/pull/18

[2017-01-13 06:01] gappleto97 commented on #9
@qbolec I believe #20 will resolve this issue. Can you confirm?

[2017-01-13 23:20] qbolec commented on #9
The description of #20 sounds like it should fix it. I could test it and confirm it on Tuesday.

[2017-02-11 23:41] syrusakbary commented on #9
Somehow Github closed the issue automatically, this is still on investigation.

I think a async scheduler/s approach will solve this issue :)

[2017-02-11 23:48] syrusakbary commented on #9
I will post here the results of the benchmarking different scheduling solutions so we can keep track and use the most optimal one (still on the work).

### Base (current sync code)

[code]

### Threads (for do_resolve)

[code]

[2017-02-15 18:01] syrusakbary commented on #9
I'm working in a new branch [async-scheduler](https://github.com/syrusakbary/promise/tree/async-scheduler), that will solve the async issue in a quite performant way.

It's based on the ultra-peformant js library [bluebird](https://github.com/petkaantonov/bluebird/).
Still a lot of effort to do there, but it's a start point :)

[2017-02-16 07:34] gappleto97 commented on #9
Is the benchmark you posted from my hotfix, where it starts a thread each time? Or is it from the new branch?

If it's the former, do we really want to add that much code to shave what rooks like ~150us?

Either way, I'm impressed the number is that low.

[2017-02-16 17:30] syrusakbary commented on #9
Yeah, the benchmark is from your hotfix, where it starts a thread each time.

For the new branch the numbers are actually quite good (median ~ 5us for Promise creation):
[code]

[2017-02-16 17:31] syrusakbary commented on #9
And this are the numbers when using threads in the new branch:

[code]

[2017-02-16 17:40] syrusakbary commented on #9
So overall here's a summary with the current improvements:
* Promise creation: `test_benchmark_promise_creation`
  - Non-threading: from 9us to <1us - **10x speed improvement**
  - With threads: from 9us to <1us - **10x speed improvement**
* Promise resolution: `test_benchmark_promise_creation_with_resolve `
  - Non-threading: from 17us to 6us - **3x speed improvement**
  - With threads: from 110u

[2017-02-16 21:23] gappleto97 commented on #9
It shouldn't be comparing the master branch. That doesn't have the thread creation.

You should be looking at the pypi branch: https://github.com/p2p-today/promise/tree/pypi

That said, I definitely take back my complaints. 10x speed improvements are nothing to scoff at.

[2017-02-20 03:19] syrusakbary commented on #9
I compared what the PR #20 was requesting, which I think [was including the Thread creation](https://github.com/syrusakbary/promise/pull/20/files#diff-dbb70d29fd4cde11692cef4c09e1eeefR57)... but might be worth to compare it with the pypi branch as well!

[2017-03-17 15:04] xlqian opened #24 "Question: How can I do http request in promise?"
How can I do http request in promise?

[2017-04-11 18:13] jhakonen opened #26 "Promises stuck"
Hi,

I took the promise 2.0b1 into use, but I ran into a bug where the promises stop working after a rejection. Any .then() handlers just refuse to trigger.

Even something as simple as this does not work:
[code]
However, I managed to reproduce the bug with your test suite.

I added following test to tests/test_issues.py:
[code]

Running test suite:
[code]
The execution remains stuck in test_promi

[2017-04-11 21:18] syrusakbary commented on #26
Thanks for reporting this and the test case!
I spotted a similar thing recently, I will try to debug and fix it asap :)

Also, if you wanna work on a PR I will happily merge it as well!

[2017-04-12 05:42] #26 closed

[2017-04-12 07:30] syrusakbary commented on #9
Closing this issue, since is solved in `master` and tested in https://github.com/syrusakbary/promise/blob/master/tests/test_issues.py#L36-L42

[2017-04-12 07:30] #9 closed

[2017-04-12 07:31] syrusakbary commented on #6
Yep, you can safely use `Promise` in `asyncio` as if you were using `couroutine`s or `Future`s :)

It's also tested :)
https://github.com/syrusakbary/promise/blob/master/tests/test_awaitable_35.py

[2017-04-12 07:31] #6 closed

[2017-04-12 19:49] jhakonen commented on #26
That fix indeed fixed the bug I had.
Thank you!

[2017-04-25 18:26] boneill42 commented on #16
Will this be merged to master? (and available in >2.0.1?)

[2017-04-25 18:59] boneill42 opened #28 "2.0.1 tag?"
I see that 2.0.1 is available on PyPi, but I don't see a corresponding tag.
https://pypi.python.org/pypi/promise/2.0.1

Is there a way to determine what code went out in that release?

[2017-04-26 03:36] syrusakbary commented on #28
Sorry, I missed creating a tag.
I just created one with the changelog: https://github.com/syrusakbary/promise/releases/tag/v2.0.1

Thanks for reporting it!

[2017-04-26 03:36] #28 closed

[2017-04-26 03:43] syrusakbary commented on #16
Nope, this is not added into the core.
The `yield from x` syntax is not equivalent to `for i in x: yield i`, and have some performance repercussions.

http://stackoverflow.com/questions/17581332/converting-yield-from-statement-to-python-2-7-code

This file is not required and the import [is already covered](https://github.com/syrusakbary/promise/blob/master/promise/compat.py#L29) by an `ImportErro

[2017-04-26 15:35] gappleto97 commented on #16
No, I had it fail to install on a couple machines. I found it really difficult to replicate the issue, though, which is why I closed #19

[2017-04-27 10:07] rslinckx opened #29 "KeyError in DataLoader leads to a stuck event loop"
from promise.dataloader import DataLoader

    def batch_load_foo(keys):
	    return 23

    loader = DataLoader(batch_load_foo)
    loader.load(1)
    loader.load(2)

This will attempt to dispatch key=1, will correctly queue in the event loop the batch loader, which will then receive the incorrect return value of '23' from the batch_load_fn.

It will then call failed_dispatch with the error, whic

[2017-04-27 10:08] rslinckx commented on #29
Also is the try/catch on SyncScheduler really necessary ?

[2017-04-27 12:10] rslinckx opened #30 "Thread safety using 2.0"
The new version introduces the concept of event loop, and uses a Context class to be able to chain contexts.

There is however a global variable "context_stack" which is accessed when pushing/popping contexts.

I think this will lead to errors if i use for example gevent, or event regular threads, the global variable will get messed up across threads.

Frameworks usually use some kind of threadloc

[2017-04-27 20:40] syrusakbary commented on #29
Your example should fix the issue :) (PR? :) )

PS: yeah, the try/catch is necessary safe/guard as, if there is any issue in the function resolution, the async instance might block any subsequent calls.

[2017-04-28 08:04] rslinckx commented on #29
You can review pull request #31

[2017-04-28 08:10] #29 closed

[2017-04-28 16:19] Nakroma opened #32 "then() doesn't take on promise returned by called handler"
In the docs its stated that `The call to .then also returns a promise. If the handler that is called returns a promise, the promise returned by .then takes on the state of that returned promise.`
So .then(my_func()) should take on the promise returned by my_func()

Take a look at this example:
[code]

The first `.then` should take on the state of the promise returned by testfunc(), so in theory th

[2017-04-28 16:54] Nakroma commented on #32
Nevermind. Apparently resolve() absolutely needs an argument and the function absolutely needs a lambda.

[2017-04-28 16:54] #32 closed

[2017-05-01 13:18] gappleto97 commented on #16
This may help:

https://pypi.python.org/pypi/yieldfrom/1.0.0

[2017-05-03 19:17] addyess opened #33 "Threading issue in 2.0"
This test locks up in python2.7

[code]

[2017-05-03 19:37] addyess commented on #33
Could be related to: https://github.com/syrusakbary/promise/issues/30

[2017-05-04 14:59] addyess commented on #33
The issue seems to be in here:

the Promise `p` executes function `do` in the context of the first drain_queue(self.normal_queue) when self.is_tick_used is set True

[code]

one global `async_instance = Async(SyncScheduler())` is used for all promises.

when the inner Promise calls its .get() -- it blocks indefinitely for the async_instance to call the secondary promise's `_settle_promise`

This b

[2017-05-04 15:37] addyess commented on #33
here's a picture of the callstack as the inner `.get` is call
![image](https://cloud.githubusercontent.com/assets/10090033/25711895/af5f31f0-30b5-11e7-9484-b0e98813eb2b.png)

[2017-05-29 03:48] hballard commented on #30
I haven't had a chance to really troubleshoot it yet, but when I tried to upgrade from promises 1.0 to 2.0 with my graphql-subscriptions [implementation](https://github.com/hballard/graphql-python-subscriptions), most of the subscription_manager tests fail, specifically when promises are called inside of a greenlet.  Latest tests commit [here](https://github.com/hballard/graphql-python-subscriptio

[2017-06-13 15:35] Nakroma opened #36 "How to unit test promises"
Hey,
This is probably a noob question, but I can't get it to work with the usual asyncio testing.
How would I effectively test something like this? Im currently using `unittest` with nose

[code]

[2017-07-19 18:51] edmorley opened #38 "Provide wheel distribution on PyPI"
Hi!

Please could this package also by made available as a wheel on PyPI?
https://pypi.python.org/pypi/promise/2.0.2

Wheels have the following advantages:
* Faster installation time
* Allows the wheel cache to work even when using the new pip hash-checking mode
* Allows tools to statically inspect the package metadata without having to execute untrusted code.
* ...and more - see: http://pythonwhe

[2017-07-22 23:23] #33 closed

[2017-07-22 23:23] syrusakbary commented on #33
This issue is now fixed in master

[2017-07-22 23:24] syrusakbary commented on #30
This is now fixed in master.

[2017-07-22 23:24] #30 closed

[2017-08-09 23:03] japrogramer opened #39 "[Question] Why must dataloaders batch return a List?"
https://github.com/syrusakbary/promise/blob/5177e5376676e10bbcd67970eed6c858c5d9bd4d/promise/dataloader.py#L31

Hello I know that bat_load_fn receives a list of keys as an argument and expect a list of the same length returned. My problem with this design is if call my batch method, from which i am getting my data and i receive an out of order result for some keys and not all keys I have to than s

[2017-08-11 18:35] edmorley opened #40 "Only including 'typing' in install_requires for Python <3.5"
The `typing` module is available in Python 3.5 and up, so doesn't need to be installed from PyPI on those versions.

I believe the following should work:
[code]

(Similar to: https://github.com/django/channels/blob/db1b3ba951ef2c3cff6e91ed94d4115d479c0d4f/testproject/setup.py#L10)

[2017-09-11 15:13] chaffeqa opened #41 "Hanging dataloader"
We have experianced issues with v2.0.1 where a promise(s) would not be resolved, and the graphene request would hang forever.  I wanted to get a totally hopeful response that this may be a known issue, and that it is solved in https://github.com/syrusakbary/promise/commit/cb9bbff1e85bead94c1b10fc36ce95d5d0fc3ce3

[2017-09-11 21:10] syrusakbary commented on #41
Hi @chaffeqa,
Thanks for the response, that's something that happened before as you pointed, and should be easy to fix.

Could be possible to have a quick overview of your installed packages (version of graphene, promises, graphene-*, ...).
A github repo or a code sample that could help us to reproduce the issue will be also helpful!

[2017-09-11 21:24] chaffeqa commented on #41
[code]

Unfortunately I don't have a good bit of sample code, the integration was pretty intense though, lots of records, large batches, but I'm fairly confident that for every key we would try to load, we would return either a record or `None` in the correct array position

[2017-09-11 21:29] syrusakbary commented on #41
Version of promise?

[2017-09-11 21:33] chaffeqa commented on #41
it seemed to resolve to `2.0.1`

[2017-09-11 21:48] syrusakbary commented on #41
This issue is only caused by the promises package.

I believe the issue was fixed in 2.0.2 with this commit: https://github.com/syrusakbary/promise/commit/57d205889787199d2e6e1ea91e76da41cf6b1fc4.

You can try to see if with `2.0.2` this issue is still happening.
If that's the case, might be worth to try: `pip install "promise>=2.1.dev"`.

Please keep me in the loop with the results :)

[2017-09-11 21:52] chaffeqa commented on #41
Actually we ran into that issue, but only with the `clear(key).prime(key, record)` usage.

However that doesn't seem to address the issue of "hanging requests" due to unfulfilled promises (unless I'm missing something deeper in the code that it effects)

[2017-09-14 09:33] chaffeqa commented on #41
Thanks for the info!  We can confirm 2.0.2 fixes the issue we saw.

I have a further question though, I did some diffing to see the changes (FYI I think the git tags and pypi versions are pretty confusing right now, but understandable since you have so many projects to keep in sync here 😃 ):

* [2.0.2 diff from 2.0.0](https://github.com/syrusakbary/promise/compare/v2.0.0...f99772c94545aa1677f2eaac

[2017-09-15 13:16] chaffeqa commented on #41
I just sent you an email containing a stacktrace referencing a bug we encountered on `2.0.2`, we are trying now on `2.1.dev20170724043809`and will update if we see it there too.  We are hoping that the change cleans up the bug.

From my understanding, the callback chain is losing context somewhere, and ends up calling `context_instance._exit()` inside a callback, but that function has lost its con

[2017-09-26 05:59] curiousest opened #42 "DataLoader batch_load_fn not batching in graphene (but works without graphene)"
This test case doesn't appear to work when using graphene:

https://github.com/syrusakbary/promise/blob/master/tests/test_dataloader.py#L32

The batch load function is called with one key at a time when calling `dataloader.load_many([6, 7])`. I wasn't able to make that test case break by running it many times or with large (100,000) array sizes, which is why I suspect it's due to an interaction wi

[2017-09-29 17:19] jeremytiki opened #43 "Installation Issue"
When using `pip freeze` with Python3, promise shows the following:

[code]

However if you try to install via `pip install -r requirements` with this entry I recieve the following error:

[code]
I'm using pip 9.0.1 with Python 3.5

[2017-10-13 08:42] syrusakbary commented on #43
Hi @jeremytiki,

You can solve this by writing in the requirements:
[code]

Hope this helps!

[2017-10-13 08:42] #43 closed

[2017-10-20 01:02] FrankSalad opened #44 "Strange pip requirements.txt entry for promise library"
Hello
I got an entry in my requirements.txt of `promise==2.1.dev0` when I ran the command `pip install "graphene-django>=2.0.dev"` as instructed on the [graphene-django README](https://github.com/graphql-python/graphene-django/commit/0e28ccc30a61baf565bb28cad0fc29b66475b737). The output of the installation:

[code]

When I later inflated the requirements inside a docker environment, pip failed wit

[2017-10-23 06:14] blitzmann opened #45 "Promises acting synchronously"
Greetings!

When it comes to promises, I hail from the land of AngularJS, which includes a few nice wrappers. I've only had to deal with pure promises a few times, so this issue is most likely me not understanding how to set this up (and there is a lack of basic examples in the README, instead directing readers to the spec)

This is the current code I have:

[code]

This seems to work synchronousl

[2017-10-23 11:48] gappleto97 commented on #45
The dev is aware of it, but doesn't want to make a change. Apparently the A+ spec says to do it this way, even though its both less obvious and less useful. I've opened an issue about it in the past.

[2017-10-23 13:54] blitzmann commented on #45
Maybe my understanding of promises is completely different then, but... isn't the whole point of a promise to do work asynchronously and then return a result sometime in the future? Is this package simply to get the Promise syntax?

After looking around some more, seems like maybe this might be a feature that is currently being worked on? Found this (seems to be your implementation): https://pypi.

[2017-10-25 07:52] edmorley commented on #38
Hi!

I noticed that the latest release (2.1) now includes a wheel for Python 2:
https://pypi.python.org/pypi/promise/2.1

I don't suppose the Python 3 wheel could also be uploaded? :-)

[2017-11-11 19:38] mandx opened #46 "call() missing 1 required positional argument: 'fn' when using the AsyncioScheduler"
For this small (but complete) server code, every schema-related request gets stuck indefinitely (the GraphiQL UI loads fine in all cases):

[code]
If we only remove the `executor` parameter from the `GraphQLView.attach` call, we get this error (as the JSON body)
[code]
Which I was able to track it down (I believe) to the method
`promise.async_.Async.queue_tick`, specifically this call `self.schedu

[2017-11-15 06:41] mandx commented on #46
Nevermind, this is on me; I was setting the scheduler with a reference to the class:
[code]
but it has to be a reference to an instance.
[code]

[2017-11-15 06:41] #46 closed

[2017-12-14 18:29] nparrish opened #48 "Stacktrace missing when tornado.concurrent.Future throws an exception"
I'm using graphene in a Tornado-based web application.  Since most of our async operations use Tornado's coroutines, we end up wrapping those `Future`s in `Promise`s.  When the coroutine throws an exception, we usually don't get a stack trace.

I have a fix, but there may be a better way:

https://github.com/syrusakbary/promise/pull/47

[2018-01-15 09:11] DmitryPorotov opened #50 "Deferred promise does not handle reject"
This is my code:

	from promise import Promise
	from threading import Timer
	from time import sleep

	class MyClass:
	    def __init__(self):
		self.p = None

	    def get_promise(self):
		self.p = Promise()

		def reject():
		    self.p.reject(Exception("qwe"))

		def resolve():
		    self.p.fulfill("asd")

		Timer(3, reject).start()
		return self.p

	i = MyClass()

	def on_resolve(x):
	    print

[2018-01-16 18:10] balthild opened #51 "Feature request: timeout for dataloader caching"
For example:

[code]

[2018-01-19 00:03] balthild commented on #51
Implemented with `expiringdict`.

[code]

[2018-01-19 00:03] #51 closed

[2018-01-26 03:13] chtseac commented on #45
To everyone who stumble into this issue having their expectations mismatched that this would work like the promises in &lt;your language&gt;:

Here is how I added a thing to have a decorator that acts like `Promise.promisify` except it also starts a thread. Be warned of thread safety - this isn't javascript where code is run in a single-thread event loop.

[code]

Usage:

[code]

[2018-01-26 11:20] BryceCicada commented on #45
Looking at the code, it seems that these promises are synchronous by default.  This was a surprise to me too having come straight from javascript promises.  However, a little more digging shows that it's already considered by the developers.

Here's a small change to the code in the original post that uses AsyncIO.

[code]

Alternatively, you can ```pip install gevent``` and then use
[code]

There

[2018-01-26 11:41] chtseac commented on #45
Oh, this is awesome! Why this is not in the readme? We should totally add
it to the documentation!

On Jan 26, 2018 7:20 PM, "Chris Nix" <notifications@github.com> wrote:

[2018-02-10 10:02] pkopac commented on #45
Hi! I've just tried a variant of your code example **with time measuring and multiple promises** locally and... it really doesn't work (python 3.6):

_Bug 1: `Promise(func)` executes immediately and blocks main thread, whatever the scheduler._

_Bug 2: `Promise.promisify(func)` returns a function, not a promise._

[code]

**With ThreadScheduler:**
[code]

My full code:
[code]

I was able to get it

[2018-02-12 08:18] pkopac commented on #45
OK, @chtseac commented https://github.com/chartmogul/chartmogul-python/issues/18#issuecomment-364641641 about `promisify`, so I tried it again:
[code]

**Output (with ThreadScheduler):**
[code]

The `()` in the `Promise.promisify(func)()` was unexpected for me and is a bit awkward IMHO. It also executed immediately.

[2018-02-15 02:13] chtseac commented on #45
@pkopac I trimmed down the code to a minimal case and it is clearly not working.

[code]

Ouptut:

[code]

[2018-02-19 20:45] bryanhelmig opened #52 "DataLoader.load(None) explicitly disallowed."
Which is rather limiting, consider an ORM with nullable FK:

[code]

For the most reusable DataLoaders it would be nice to allow `None` to pass through such that `batch_load_fn()` handles empty values without an issue.

I suppose the alternative is just to return `None` directly from the resolver if the `friend_id` is `None`, but for reusableness' sake it would be awesome to not add that condition

[2018-02-19 20:46] bryanhelmig commented on #52
@syrusakbary for your consideration!

[2018-03-11 04:28] vikramdurai opened #53 "What's the Difference"
What's the difference between calling `Promise.resolve(func())` and `Promise.promisify(func)`?

[2018-04-13 15:47] wiktortomczak opened #54 "Promise cancellation?"
Are there plans to support cancelling a promise?

See eg. https://github.com/google/closure-library/blob/master/closure/goog/promise/promise.js for possible implementation.

[2018-05-09 23:33] toddrme2178 opened #56 "License file in pypi archive"
The pypi source archive isn't including the `LICENSE` file. Would it be possible to add it? It is very helpful when packaging this for Linux distributions. Thank you.

[2018-05-21 12:16] darrint opened #57 "Assertion errors from promise when using graphene-django."
I'm looking for advice as I haven't succeeded in creating a small test case to demonstrate what I'm seeing.

We have a large Django 1.9/Python 2.7 application that we recently added graphene to. Graphene generally works well. However, in development, a front end engineer wrote some code which resulted in 8 separate graphql requests being sent simultaneously to Django's development runserver (threa

[2018-05-21 18:17] melancholy commented on #57
I've noticed that nested resolvers with middleware produce undesirable behavior with respect to threads.

I ended up having to monkey patch the library and replacing async_instance here: https://github.com/syrusakbary/promise/blob/master/promise/promise.py#L21
with a thread local

perhaps that will work for you as well

[2018-05-29 20:05] melancholy commented on #57
Upon further reflection and investigation, this library appears to not be thread safe when trampoline is enabled. It appends and drains from a single queue within checks of other variables on a global object without locking sections.

it seems either monkey patching as I mentioned above, or using the following will work. I haven't done any investigation into how this affects performance.

[code]

[2018-06-12 20:07] charettes commented on #57
Thanks for the workaround @melancholy.

We hit this issue when using the mutli-threaded Django development server (the default `manage.py runserver`) and sometimes hitting one of these blank assertion errors that were resulting in the following GraphQL error responses:

[code]

Or the following when batching queries

[code]

[2018-06-22 05:40] #56 closed

[2018-07-09 09:50] marcelombc opened #59 "New version"
Is there any plans to release a new version? Last released version was more than one year ago.

[2018-07-21 07:47] prokher commented on #57
Dear @darrint, I've spent a whole day & night digging in the code of graphene-django, graphql-core, and promise, to understand why the multithreaded execution strategy on my [GraphQL Websocket server](https://github.com/datadvance/DjangoChannelsGraphqlWs) eventually leads to hanging of all the worker threads! Now I am happy to find out I am not the only one who faced such an issue!

My conclusions

[2018-07-21 07:57] prokher commented on #57
I would also like to bring @syrusakbary attention here. I think the thread-safety issue is a significant one cause it may silently affect many projects which use this promise library. @syrusakbary, what do you think? May be it is better to disable "trampoline" by default until the issue is resolved? Not sure how this influence the performance, but comparing to hanging threads it does not look that

[2018-07-29 10:53] leebenson commented on #57
Performance aside, are there any side-effects to calling `disable_trampoline()` that you've observed?

I'm trying to figure out if Promises resolve differently having it enabled or not.

[2018-07-30 09:14] prokher commented on #57
@leebenson I did not observe any side effects yet, but I have not tested it well enough.

[2018-08-01 18:21] brianbruggeman opened #60 "Promise should not install `typing` for python 3.5+"
The pypi package for typing is a backport and not necessarily representative of the typing standard library for a given version of Python.  For versions above Python 3.4, `typing` should not be installed as this can cause problems for Pythons 3.5+.

See:  https://pypi.org/project/typing/

Code: https://github.com/syrusakbary/promise/blob/master/setup.py#L53

[2018-10-01 07:54] kko7 opened #62 "Question: JavaScript Code"
Hi, I AM nre to promise. How I can write thie on python.

return new Promise((resolve, reject) => {
      drivelist.list((error, drives) => {
        if (error) return reject(err);
        resolve(drives);
      });
    });

[2018-10-15 02:24] carlwgeorge opened #63 "tag 2.2.1"
PyPI has version 2.2.1 of this library.  Would you mind adding the corresponding git tag to this repo?

[2018-10-15 05:33] #62 closed

[2018-10-15 09:59] adamchainz opened #64 "2.2.1 isn't a github release"
GitHub releases are used for the changelog, but I don't see 2.2.1 there, or 2.1 which is what I'm upgrading from: https://github.com/syrusakbary/promise/releases . A consistent, complete changelog would be useful to know if I need to change anything when upgrading.

[2018-10-18 04:33] mmerickel opened #65 "Async.invoke_later has no scheduler"
https://github.com/syrusakbary/promise/blob/d80d791fcc86c89713dac57b55e56c0a9024f153/promise/async_.py#L40-L44

Just from visual inspection this code is dependent on a `scheduler` variable that is not defined anywhere in scope.

[2018-10-30 23:46] mmerickel commented on #53
`Promise.resolve(func())` converts the result of `func` into a promise and `Promise.promisify(func)` returns a function that, when called, will return promises

[2018-10-31 10:34] #53 closed

[2018-11-07 17:37] dongryphon opened #68 "How thread safe are promises?"
After reading through the source for some time I do not see any use of locks (like the imported and ignored `from threading import RLock`) to protect one thread adding a callback to a promise instance from another thread that is resolving/rejecting that promise...

So is such use of a promise invalid or does it work because of the GIL? ... or something else?

Thanks for the awesome code!

[2018-11-19 14:30] dongryphon commented on #68
Would really appreciate even a couple words of wisdom on this...

[2018-11-30 20:42] mmerickel commented on #57
I've been running with trampoline disabled for a long time as a result of this issue and hitting the assertions. I was recently diving into some performance issues and noticed that with the trampoline disabled the `DataLoader.batch_load` is **always** only invoked with one item at a time because promises are resolved synchronously using the immediate scheduler. This is a very significant hit to pe

[2018-12-10 21:39] mmerickel commented on #57
If it helps anyone else, below is the threadlocal monkeypatch I have been using since I discovered the performance issues with disabling trampolining and have not seen any issues since when used in conjunction with threaded wsgi apps.

[code]

[2018-12-11 14:31] dongryphon commented on #68
Is this the proper place to ask questions?

[2018-12-18 11:48] chroth commented on #68
@PepperTeasdale It sounds like your issue is related to https://github.com/syrusakbary/promise/issues/57

[2018-12-18 16:00] PepperTeasdale commented on #57
@mmerickel can you give a little more detail about how you're using this monkey patch please? I'm trying this and noticing that we don't get hanging queries anymore, but that running queries might take a little bit longer overall.

[2019-01-20 06:34] insolite opened #69 "Generator-based coroutines aren't recognized in 2.2.1"
Since https://github.com/syrusakbary/promise/commit/90093a1ca51fac25e0f92f78fe7f33b697bf1629 the `iscoroutine` from `inspect` is used which is quite different to `asyncio`'s. According to [docs](https://docs.python.org/3/library/inspect.html#inspect.iscoroutine) it recognizes `async def`. But it doesn't return true for `@asyncio.coroutine` functions. For them there's an [isawaitable](https://docs.

[2019-06-13 23:08] flewellyn commented on #45
Given this issue is still open, and I'm running in to the same problem, how do we solve it?

I'm trying to use the Dataloader with Graphene and SQLalchemy, and everything either runs sequentially, or if I try to use a scheduler, it gives me the error "call() missing 1 required positional argument: 'fn'".

Any ideas?

[2019-07-02 14:40] sebastiandev opened #74 "DataLoader swallows original exceptions"
When executing the `batch_load_fn` if an error occurs, the exception been raised is not the original one, but an `Exception` which references the original one in its message, like:

My custom exception is a `DomainError` but it gets lost and re-raised as an `Exception`

[2019-07-19 13:18] freininghaus opened #75 "Possible out-of-memory due to unlimited cache _type_done_callbacks if dynamically generated types are used"
We found that an application which has functions with local classes that end up in Promise resolutions can go out of memory if it runs sufficiently long.

The reason is that the `type` of the local classes is different every time the functions are called, such that the lookup in the `dict` `promise.promise._type_done_callbacks` fails, and the new type is inserted into the `dict`. This prevents tha

[2019-08-21 16:18] Siecje opened #77 "Fix Iterable import for Python 3.8"
[code]

[2019-10-01 15:30] sebastiandev commented on #74
@syrusakbary  is anyone maintaining this library? this error is pretty urgent in order to make this production ready.

[2019-10-21 15:36] nickpresta commented on #42
Reviving this issue as we're experiencing the same problem. Version `2.0.2` works as expected but version `2.1.0` broke this batching functionality.

There seems to be a related issue in the Graphene project: https://github.com/graphql-python/graphene/issues/1075

[2019-12-16 15:06] #77 closed

[2019-12-16 21:26] pollaro commented on #45
I'm having trouble with my DataLoader queueing things. It seems to load the data immediately when I call `load()` instead of waiting.

[2019-12-18 07:39] syrusakbary commented on #68
The PR #81 has been merged. Promises should be now thread-safe in Promise 2.3.0

[2019-12-18 07:39] #68 closed

[2019-12-18 07:39] syrusakbary commented on #74
@sebastiandev if you would like, I'd welcome a PR :)

[2019-12-18 07:40] syrusakbary commented on #75
There is a new version of Promise `2.3.0` that ships with the fix done in #76.

Closing the issue

[2019-12-18 07:40] #75 closed

[2019-12-18 07:42] syrusakbary commented on #59
New version just released: `2.3.0`.

Closing this issue

[2019-12-18 07:42] #59 closed

[2019-12-31 13:44] qeternity opened #82 "v2.3.0 Performance Regressions"
Using Python 3.8.1 on Ubuntu 18.04 I find graphene to be 13-15% slower using 2.3.0 vs. 2.2.1 with the below simple benchmark. This is not a promises benchmark since we are not direct consumers of it, but I noticed on new services a slowdown and finally pinned it down to the updates Promise package.

`import graphene
import timeit

class UserQuery(graphene.ObjectType):
    id = graphene.Int()

clas

[2020-01-03 13:59] minznerjosh opened #83 "AsyncioScheduler wait() method doesn't actually wait"
https://github.com/syrusakbary/promise/blob/ad8ebe68cd9c9686793e3449457f175a0fe43226/promise/schedulers/asyncio.py#L13-L22

As per the docs, the [`Event.wait()`](https://docs.python.org/3/library/asyncio-sync.html#asyncio.Event.wait) method returns a coroutine. So in order to block function execution it would need to be `await`ed from another coroutine.

The end result is that the `Promise.get()`

[2020-01-08 09:12] lexdene opened #84 "traceback is lost when using Promise.all"
the following code:

    from promise import Promise

    def foo(v):
        if v == 4:
            raise ValueError(v)

        return v + 1

    def main():
        p = Promise.all([
            Promise.promisify(foo)(number)
            for number in range(5)
        ])
        p.get()

    main()

I think its traceback should be like this:

    Traceback (most recent call last):
      File ".

[2020-01-08 14:44] #84 closed

[2020-01-08 20:16] rhoog commented on #42
Try adding a @Promise.safe to the resolve function. That solved it for me one time. I have no clue as to what this decorator does exactly though...

[2020-01-18 14:51] Novakov opened #87 "Race condition when waiting on Promise resolved in other thread"
I'm using with LibUsb to achieve asynchronous transfers. Without going into too much details I'm using two threads:
1. **Worker**: creates promise (P) and starts async USB transfer with supplied callback (C) that resolves promise. After starting transfer, thread wait for promise result.
2. **LibUSB event loop**: triggers event processing in LibUSB, which will call callback C which will resolve pro

[2020-01-28 22:35] syrusakbary commented on #87
What version of Promise are you using? It seems what you commented should be solved in 2.3.0

[2020-01-29 06:53] Novakov commented on #87
I forked this repository and added test to it. Tag matching release 2.3.0 is there.
Latest commit: https://github.com/Novakov/promise/commit/9ba6fbda4472d1448663e5937428596fd30ad22c (2020-01-08)

[2020-02-20 14:57] tazimmerman commented on #42
I've been working through this issue and the following worked for me.

[code]

I tried using the `scheduler` argument of the `DataLoader` constructor, but found that when it constructs a `Promise` (in its `load` method), that scheduler isn't passed through. Later on, when a `Promise` accesses its own scheduler attribute, it's `None`, and falls back to the default scheduler, which is an instance of

[2020-03-17 08:41] qeternity commented on #82
Anything? Few months old now for a significant performance regression in a low level library

[2020-04-05 07:28] Zahlii commented on #87
Piggybacking on this issue - I am also getting this error and made sure that I had Promise>=2.3.0 installed prior. Sadly, it is not easily reproducible. The general setting however is the following:

I am calling functions using a ThreadPoolExecutor, and each of them returns a Promise. Now, I use Promise.all().then(lambda res: pool.submit(somefunction, res)).

This means I am using Promise to hand

[2020-04-22 15:14] amzhang commented on #42
set_default_scheduler() is dangerous:
[code]
So if your requests are handled by threads and each thread has it's own event loop, then it would not work correctly.

[2020-04-24 16:11] tazimmerman commented on #42
Do you know of a better workaround? Otherwise, it sounds like if you're using threads to handle requests (which I'm not), the `DataLoader` simply cannot be used as-is.

[2020-04-25 03:57] amzhang commented on #42
@tazimmerman unfortunately, I don't know of any workarounds when using threads.

We moved to using [aiodataloader](https://github.com/syrusakbary/aiodataloader) with [graphene-django](https://github.com/graphql-python/graphene-django), and starting a new asyncio event loop for every request. I'm not sure if that's the right way to do it, but batching is working.

[2020-05-06 16:22] JeasonLaung commented on #62
Hi dii you find the method to do it? Thank you!

[2020-07-09 15:07] alex-verve commented on #87
Also getting these errors (14 times per 2.5 million requests)

[code]

We're executing `Thread`s with callbacks which resolve promise (similar to @Novakov  case)

[2020-07-16 17:38] alex-verve commented on #87
I think I fixed the problem. Review is welcome https://github.com/syrusakbary/promise/pull/89

[2020-11-12 07:35] vecchp commented on #42
@amzhang Would you mind sharing an example? I'm in the middle of trying to get those two to work and can't seem to find the right place to create the event loop and gather all other results.

[2020-11-12 08:00] amzhang commented on #42
Try below. It's copied from our code base with irrelevant parts stripped, so has not been tested.

It uses [aiodataloader](https://github.com/syrusakbary/aiodataloader)

Hope this helps.

[code]

[2020-11-12 16:41] vecchp commented on #42
@amzhang Thanks for the quick reply!  I'll take a look to see if this helps me get where I want to go.

[2020-11-12 23:28] vecchp commented on #42
@amzhang unfortunately it looks like this works on graphene-django v2 but not v3.  Seems like the dataloader story in v3 is kind of weak at the moment.

[2021-01-03 22:42] ValkoVolodya opened #90 "Can`t install graphene-django due to bug in promise install_requires definition"
Hello!

Tried to compile my requirements file via `pip-compile`, that contains:

[code]

but get an error:

[code]

Error is here:
https://github.com/syrusakbary/promise/blob/master/setup.py#L60

[2021-01-09 19:05] ioan555 opened #92 "Ioan555"

[2021-01-09 20:55] ioan555 opened #93 "Ioan555"

[2021-02-15 11:24] ValkoVolodya commented on #90
@syrusakbary can you please help?

[2021-02-17 13:02] tdaff commented on #90
@ValkoVolodya that looks like an environment marker, rather than a typo. `pip-compile` version 2 or newer should at least be parsing them correctly https://github.com/jazzband/pip-tools/pull/647 and filtering them.

[2021-02-17 17:16] ValkoVolodya commented on #90
@tdaff , yeah, thanks, now I see, that is valid, but I use version 5.2.0 of  `pip-compile`, but problem is still here( Maybe something wrong with pip-compile itself..

[2021-02-18 19:33] bryanapperson opened #94 "Promise 2.3.0 installation fails"
[code]

I also see this behavior with 2.2.0.

[2021-02-18 19:34] bryanapperson commented on #94
[code]

[2021-02-18 20:00] bryanapperson commented on #94
This looks like an environment/mirror issue. Closing.

[2021-02-18 20:00] #94 closed, assigned to nobody

[2021-02-19 12:11] ValkoVolodya commented on #90
I asked about this problem in pip-tools repo - https://github.com/jazzband/pip-tools/issues/1327 and problem is that wheel file for version 2.3 is not downloaded - https://pypi.org/project/promise/#files for now I try to pin older version with wheel downloaded

[2021-02-19 13:03] webknjaz commented on #90
To be fair, this `setup.py` problem is also legitimate. Uploading a wheel will help but it is a band-aid.

Inline env markers aren't well-supported by old setuptools so this will only work if the end-users know that [they need to have a minimum setuptools version of 36.2 0](https://setuptools.readthedocs.io/en/latest/history.html#v36-2-0) upfront. And when you migrate to using a declarative `setup

[2021-12-20 15:39] edmorley commented on #40
Fixed by #61.

[2021-12-20 15:39] #40 closed

[2022-05-19 12:43] berrytsakala opened #98 "Please give more "practical" examples,"
I can't understand what the example in the readme is trying to achieve.
I saw that other users are struggling and requesting info.
Can we have a practical, simple example?

e.g.

[code]

I was expecting to see:

[code]
< sleeping ...>
[code]

Thanks in advance,

[2022-11-05 15:14] PawelLipski commented on #38
+1 for this one... as long as `promise` is only available as sdist and not as a bdist_wheel, we can't just use `pip install --only-binary :all:`... which is in turn a great mitigation for arbitrary code execution inherent to sdists. See https://github.com/mschwager/0wned